body, ul, li {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
ul, li {
    list-style: none;
}

/*========================================================*/

.m-bgs {
    width: 100%;
}
.m-bg {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../imgs/bg.png);
    position: relative;
}
.m-dd-start {
    height: 72px;
    width: 72px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-repeat: no-repeat;
    background-image: url('../imgs/start_on.png');
    background-size: 100%;
}
.all-radius-hide {
    display: none;
}
.radius {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #7C7C7C;
    padding: 3px;
    position: relative;
}
.radius-in {
    margin: 3px 0 0 3px;
    height: 66px;
    line-height: 66px;
    width: 66px;
    text-align: center;
    font-size: 60px;
    color: #FFF;
    border-radius: 50%;
    background: #66CCCC;
    cursor: pointer;
}
