<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>模拟滚动条</title>
  <link rel="stylesheet" href="slide.css">
  <script src="../../lib/zepto.min.js"></script>
  <!--<script src="slide.js"></script>-->
  <script src="touchslide.js"></script>
</head>

<body>
<div id="main" style="height: 300px; margin: auto;">
  <div id="control-group">
    进度条:
    <div class="scroll-bar" id="scroll-bar" style="margin:30px auto;">
      <div class="entire-bar" id="entire-bar"></div>
      <div class="action-block" id="action-block">1</div>
    </div>
  </div>
</div>
<script>
  new SlideBar({
    actionBlock: 'action-block',
    scrollBar: 'scroll-bar',
    entireBar: 'entire-bar',
    barLength: 700,
    maxNumber: 100,
    callback: function (value) {
      var jblock = document.getElementById('action-block');
      if (value <= 100) {
        jblock.style.backgroundImage = "url(./imgs/block.png)";
        jblock.innerText = value;
      } else {
        jblock.style.backgroundImage = "url(./imgs/close.png)";
        jblock.innerText = "关";
      }

    }
  });


</script>
</body>

</html>
