# Created by .ignore support plugin (hsz.mobi)
SH_diandu/access_token.php
SH_diandu/js/lib/jcrop/.DS_Store
SH_diandu/js/lib/kindeditor/attached/
SH_diandu/jsapi_ticket.php

SH_diandu/test
SH_diandu/uploads
SH_diandu/js/lib/kindeditor/attached/image
SH_diandu/.idea
.vscode
.idea/
SH_diandu/php/upload
SH_diandu/php/upload_tmp
SH_diandu/php/weixinrecord
SH_diandu/.vscode
SH_diandu/.DS_Store
.idea/workspace.xml