/*3d模型*/

.draw-custom-area {
  position: absolute;
  overflow: hidden;
  z-index: 4;
}

.m-viewer3d__canvas {
  height: 100%;
  width: 100%;
  position: absolute;
}

.m-viewer3d__point {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url('../../../../imgs/diandu_point_icon/icondian_3d.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.m-viewer3d__tip {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url('../../../../imgs/viewer3d/viewer3d_tip.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}


/*模型获取焦点后的操作区域*/

.m-viewer3d__event {
  position: fixed;
  top: 45px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (orientation: landscape) {
  .m-viewer3d__event {
    left: 45px;
    top: 0;
  }
}

.m-viewer3d__event-wrap {
  position: relative;
}

.m-viewer3d__event-area {
  position: absolute;
}

.m-viewer3d__event-scale {
  position: absolute;
  right: 0 !important;
  top: 0 !important;
  width: 30px;
  height: 30px;
}


/*视窗放大缩小*/

.viewer3d_max, .viewer3d_event_max {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 99998 !important;
}

.viewer3d_event_max {
  position: absolute !important;
}

.viewer3d_max canvas {
  width: 100% !important;
  height: 100% !important;
}


/*区域设置:音频展示*/

.area-setting__audio {}

.area-setting__video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url('../../../../imgs/diandu_point_icon/icondian_audio.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
