* {
  box-sizing: border-box;
}

.c-number {
  width: 65px;
  height: 55px;
  border: 4px solid #D0D0D0;
  border-radius: 10px;
  overflow: hidden;
  background: #FFF;
}

.c-number-val {
  width: 70%;
  height: 100%;
  float: left;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border-right: 3px solid #D0D0D0;
  word-break: keep-all; /* 不换行 */
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
}

.c-number-op {
  width: 30%;
  height: 100%;
  float: right;
}

.c-number-op-plus, .c-number-op-sub {
  height: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 26px;
  line-height: 25px;
  color: #FFF;
}

.val-default {
  background: #FFF;
}

.c-number-op-plus, .val-plus {
  background: #F94D00;
}

.c-number-op-sub, .val-sub {
  background: #07A73B;
}
