.layui-layer {
  border-radius: 10px;
}

.ds-video__container {
  position: relative;
  overflow: hidden;
  color: #6c6c6c;
}

.ds-video__header {
  height: 60px;
  line-height: 60px;
  background: #FE4E00;
  font-size: 30px;
  text-align: center;
  color: #FFF;
  border-radius: 10px 10px 0 0;
}

.ds-video__submit {
  height: 60px;
  line-height: 60px;
  background: #FF636B;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

.ds-video {
  height: 430px;
  background: #EFEFEF;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ds-video__item {
  margin-bottom: 20px;
  display: flex;
}

.ds-video__item:last-child {
  margin-bottom: 0;
}

.ds-video__show-page {
  background: #d8d8d8;
  width: 50%;
  margin: 0 auto;
  line-height: 55px;
  text-align: center;
  border: 4px solid #ff0065;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
}

.ds-video__item-range {
  width: 50%;
  padding: 5px 20px;
}

.ds-video__item-color {
  display: flex;
  align-items: center;
  padding: 5px 20px;
}

.ds-video__item-color span {
  font-style: italic;
  font-size: 12px;
}

.ds-video__color {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border: 1px solid #CCC;
  border-radius: 3px;
  background: #ff0065;
  display: inline-block;
  cursor: pointer;
}

input[name="video-border-color"] {
  display: none;
}

.ds-video__poster {
  position: relative;
  height: 50%;
  width: 65%;
  margin: 0 auto;
  font-size: 26px;
  padding: 20px 55px;
  background: #003232;
  border: 5px solid #ccc;
  border-radius: 10px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ds-video__icon {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
  background-size: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__progress {
  position: absolute;
  bottom: 5px;
  left: 2%;
  right: 2%;
}
