<div class="ds-video__container">
  <div class="ds-video__header">{{title}}</div>
  <div class="ds-video">
    <div class="ds-video__poster" :style="{ border:border_style, opacity:btn_opacity/100}">
      默认展示视频的第一帧
      <div class="ds-video__icon draw-area__point-type--video"></div>
      <mt-range :min="0" :max="totalTime" class="video__progress" v-model="currentTime">
    </div>
    <div class="ds-video__controls">
      <div class="ds-video__item">
        <div class="ds-video__item-range">
          <p>边线透明度</p>
          <mt-range :min="0" :max="100" class="video-player__range" v-model="border_opacity">
          </mt-range>
        </div>
        <div class="ds-video__item-range">
          <p>按钮透明度</p>
          <mt-range :min="0" :max="100" class="video-player__range" v-model="btn_opacity">
          </mt-range>
        </div>
      </div>
      <div class="ds-video__item">
        <div class="ds-video__item-range">
          <p>边线宽度</p>
          <mt-range :min="0" :max="10" class="video-player__range" v-model="border_width">
          </mt-range>
        </div>
        <div class="ds-video__item-color">
          <p>边线颜色<span>（点击修改）</span></p>
          <p class="ds-video__color" :style="{ background:border_color}" @click="handleBorderColor"></p>
          <input type="color" name="video-border-color" value="#ff0065" @change="handleChangeBorderColor">
        </div>
      </div>
    </div>
  </div>
  <div class="ds-video__submit js-submit" @click="handelSubmit">提交</div>
</div>
