/*定义一个动画效果*/

@-webkit-keyframes blink {
  0%, 25%, 50%, 100% {
    -webkit-filter: drop-shadow(#0c9 0px 0px 5px);
    filter: drop-shadow(#0c9 0px 0px 5px);
    opacity: 0.75;
  }
  12.5%, 37.5%, 75% {
    -webkit-filter: drop-shadow(#0c9 0px 0px 15px);
    filter: drop-shadow(#0c9 0px 0px 15px);
    opacity: 1;
  }
}

@keyframes blink {
  0%, 25%, 50%, 100% {
    -webkit-filter: drop-shadow(#0c9 0px 0px 5px);
    filter: drop-shadow(#0c9 0px 0px 5px);
    opacity: 0.75;
  }
  12.5%, 37.5%, 75% {
    -webkit-filter: drop-shadow(#0c9 0px 0px 15px);
    filter: drop-shadow(#0c9 0px 0px 15px);
    opacity: 1;
  }
}

.custom-point-blink {
  -webkit-animation: 4s blink infinite ease-out;
  animation: 4s blink infinite ease-out;
}


/************* 针对音频播放闪烁****************/


/*定义一个动画效果*/

@-webkit-keyframes audio_blink {
  0%, 50%, 100% {
    transform: scale(1.02);
  }
  25%, 75% {
    transform: scale(1);
  }
}

@keyframes audio_blink {
  0%, 50%, 100% {
    transform: scale(1.02);
  }
  25%, 75% {
    transform: scale(1);
  }
}

.audio-point-blink {
  -webkit-animation: 2s audio_blink infinite ease-out;
  animation: 2s audio_blink infinite ease-out;
}
