#header_vue {
  height: 45px;
  width: 100%;
}

.diandu__header {
  position: fixed;
  height: 45px;
  width: 100%;
  left: 0;
  top: 0;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 10000;
  font-size: 20px;
}

.diandu__header img {
  width: 20px;
  height: 20px;
}

.diandu__header--left {
  flex: 2;
  text-align: left;
  color: #c0c0c0;
  display: flex;
}

.diandu__header--center {
  flex: 3;
  text-align: center;
}

.diandu__header--right {
  width: auto;
  text-align: right;
}

.diandu-header-right__comment {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../../imgs/mods/header/icon_comment.png')
}

.diandu-header-right__comment:after {
  content: attr(title);
  position: absolute;
  bottom: 30%;
  left: 60%;
  color: #00CC99;
  font-size: 12px;
  background: #FAFAFA;
  padding: 3px;
}

.diandu-header-right__setting, .diandu-header-right__area-show {
  margin-right: 13px;
}

.diandu-header__scale {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

@media all and (orientation: landscape) {
  #header_vue {
    width: 45px;
    height: 100%;
  }
  .diandu__header {
    width: 45px;
    height: 100%;
    flex-direction: column;
  }
  .diandu__header--right {
    text-align: center;
    height: auto;
    flex: none;
  }
  .diandu__header--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .diandu-header-right__comment, .diandu-header-right__setting, .diandu-header-right__area-show {
    margin: 5px 0;
  }
}
