html, body, #main {
  height: 100%;
  width: 100%;
}

body, ul, li {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei", "微软雅黑";
}

ul, li {
  list-style: none;
}

/*========================================================*/

/*-------------横屏样式 START---------------*/
@media screen and (orientation: landscape) {
  .m-dd-start-comment-div {
    top: 0;
    bottom: 0;
  }

  .exam-list-left .exam-list-question-title {
    height: 60%;
    overflow-y: auto;
  }

  /*视频播放器  容器*/
  #div_video {
    width: 80%;
    height: 60%;
    position: relative;
    top: 20%;
  }

  .gallery-main {
    height: 250px !important;
  }

  .control-audios {
    height: 30px !important;
    float: right;
    margin-right: 20px;
    margin-top: 80px;
  }

  .gallery-thumbs {
    height: 130px !important;
  }

  .ga-modal-content-page {
    margin-bottom: 5% !important;
    height: 30% !important;
    width: 15% !important;
    padding: 0 9%;
  }

  /*针对 nexue 高分辨率手机, 还有ipad, PC端*/
  @media screen and (min-height: 600px) {

    .gallery-main .opacity-scroll-bar .entire-bar {
      height: 13px !important;
    }

    .slide-txt {
      margin-bottom: 5px;
    }

    .gallery-main {
      height: 335px !important;
    }

    .gallery-main-switch, .opacity-scroll-bar {
      height: 100px !important;
      font-size: 20px;
    }

    .control-audios {
      height: 38px !important;
      margin-right: 40px;
      margin-top: 130px;
    }
  }
}

/*-------------横屏样式 END---------------*/

/*-------------竖屏样式 START---------------*/
@media screen and (orientation: portrait) {
  /*视频播放器  容器*/
  #div_video {
    width: 100%;
    position: relative;
    top: 30%;
  }

  /*针对 nexue 高分辨率手机, 还有ipad, PC端*/
  @media screen and (min-width: 600px) {
    .gallery-main {
      height: 410px !important;
    }

    .gallery-main-switch, .opacity-scroll-bar {
      height: 100px !important;
    }

    .control-audios {
      height: 38px !important;
    }
  }

}

/*-------------竖屏样式 END---------------*/

/*-------------不区分横竖屏的样式 START---------------*/
.m-bgs {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.m-bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  /*拉伸适应DIV大小*/
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}

.m-bg > .wrap {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.m-dd-start, .m-dd-start-hide, .m-dd-start-comment {
  height: 72px;
  width: 72px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}

/*点读开始*/
.m-dd-start {
  background: url('../imgs/start_on.png') no-repeat;
  background-size: 100% 100%;
}

/*点读隐藏*/
.m-dd-start-hide {
  background: url('../imgs/exam_comment/comment_hide.png') no-repeat;
  background-size: 100% 100%;
}

/*评论*/
.m-dd-start-comment {
  background: url('../imgs/exam_comment/comment_in.png') no-repeat;
  background-size: 100% 100%;
}

/*评论的容器*/
.m-dd-start-comment-div {
  z-index: 1;
  position: absolute;
  top: 20px;
  bottom: 40px;
  overflow: hidden;
  width: 100%;
  display: none;
  box-shadow: 0 0 .3rem #000;
}

.all-radius-hide {
  display: none;
}

/*新增一个点读位类型，要在这里添加样式*/
.m-video, .m-audio, .m-imgtext, .m-exam, .m-global-audio {
  height: 72px;
  width: 72px;
  position: absolute;
  border-radius: 50%;
  /*overflow: hidden;*/
}

.m-video-size {
  width: 100px;
  height: 100px;
  z-index: 9999;
}

.m-video {
  background-image: url('../imgs/video.png');
  background-size: 100%;
}

.m-audio {
  background-image: url('../imgs/audio.png');
  background-size: 100%;
}

.m-imgtext {
  background-image: url('../imgs/m_imgtext.png');
  background-size: 100%;
}

.m-exam {
  background-image: url('../imgs/m_exam.png');
  background-size: 100%;
}

.m-global-audio {
  background: url('../imgs/global_audio/global-audio-point.png') no-repeat;
  background-size: 100% 100%;
}

.global-audio-other-page-off, .global-audio-other-page-on {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 5px;
  width: 75px;
  height: 66px;
}

.global-audio-other-page-off {
  background: url('../imgs/global_audio/global-audio-other-page-off.png') no-repeat;
  background-size: 100%;
}

.global-audio-other-page-on {
  background: url('../imgs/global_audio/global-audio-other-page-on.gif') no-repeat;
  background-size: 100%;
}

.cd-close-v {
  top: 20% !important;
}

/* ==========滑动插件样式 START========= */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  height: 100%;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.swipe-wrap > figure {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}

/*图文遮罩*/
.sec-imgtext-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
}

/*图文*/
.sec-imgtext {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #000;
  z-index: 9999;
  margin: auto;
}

.sec-imgtext-main {
  height: 200px;
  position: absolute;
  top: 20%;
  left: 30%;
  border-radius: 5px;
  z-index: 9999;
  overflow: hidden;
  background: #FFF;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  padding: 0;
  overflow-y: auto;
}

.sec-imgtext-title {
  background: #009999;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #FFF;
}

.sec-imgtext-content {
  padding: 5px;
}

.sec-imgtext-content img {
  width: 100%;
}

.sec-imgtext-img {
  width: 100%
}

.sec-exam {
  position: absolute;
  z-index: 9999;
  border-right: 5px;
  box-shadow: 0 0 50px black;
}

/*============使用swiper3.0的样式  START==========*/
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {
  background-size: 100% 100%;
  width: 54px;
  height: 88px;
}

.swiper-slide {
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 100%;
  width: 100%;
}

.pages_pagination {
  position: absolute;
  bottom: 0;
  left: 45%;
  z-index: 2;
  font-size: 25px;
  color: #D4D4D4;
}

/*---------------缩略图面板 样式  START------------------*/
.gallery-main {
  position: absolute;
  z-index: 5000;
  height: 320px;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F2F2F2;
}

.control-audios {
  height: 30px;
  margin-bottom: 10px;
}

.control-bg-audio, .control-global-audio {
  height: 100%;
}

.gallery-main-switch, .opacity-scroll-bar {
  height: 60px;
}

.opacity-scroll-bar .entire-bar {
  background: #B1B2B1;
  height: 6px !important;
  margin-top: 6px;
}

.gallery-thumbs {
  height: 150px;
  box-sizing: border-box;
  padding: 10px 10px 20px 10px;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  border: 1px solid #FFF;
}

.gallery-thumbs .swiper-slide-active-custom {
  box-shadow: 0 0 10px;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

.thumbs-sort-id {
  position: absolute;

  color: #FFF;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: -11px;
  margin-left: -15px;
  background: #268988;
  border-radius: 50%;
}

/*---------------缩略图面板 样式  END------------------*/

/*============使用swiper3.0的样式  END==========*/

/*========进度条==========*/
.slider-bar {
  display: block;
  width: 30px;
  position: relative;
  background: #00cc99;
}

.slider, .slider-bar {
  height: 30px;
  margin: 0px;
}

.progress {
  background: #E9E9E9;
}

.progress-bar {
  color: #000;
  line-height: 30px;
  background-color: #D8D8D8;
}

.intervalTime {
  font-weight: bold;
  color: red;
}

.btn-close {
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 40px;
  font-weight: bold;
  color: #FF864E;
  cursor: pointer;
  width: 30px;
  line-height: 30px;
  height: 30px;
  text-align: center;
}

/*全局音频 START*/
.ga-modal {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ga-modal-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #666;
  -webkit-opacity: 0.3;
  opacity: 0.5;
}

.ga-modal-content {
  position: relative;
  z-index: 2;
  padding: 5px;
  width: 100%;
  height: 80%;
}

.ga-modal-content-audio-on, .ga-modal-content-audio-off {
  width: 75px;
  height: 66px;
  cursor: pointer;
  float: left;
}

.ga-modal-content-audio-off {
  background: url("../imgs/global_audio/global-audio-other-page-off.png") no-repeat;
  background-size: 100% 100%;
}

.ga-modal-content-audio-on {
  background: url("../imgs/global_audio/global-audio-other-page-on.gif") no-repeat;
  background-size: 100% 100%;
}

.ga-modal-content-btn-off, .ga-modal-content-btn-on {
  width: 150px;
  height: 50px;
  cursor: pointer;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
}

.ga-modal-content-btn-on {
  background: url("../imgs/global_audio/global-audio-on.png") no-repeat;
  background-size: 100% 100%;
}

.ga-modal-content-btn-off {
  background: url("../imgs/global_audio/global-audio-off.png") no-repeat;
  background-size: 100% 100%;
}

.clearfix {
  clear: both;
}

.ga-modal-content-pages {
  padding: 20px 0;
  height: 80%;
  width: 100%;
  overflow: auto;
}

.ga-modal-content-page {
  position: relative;
  cursor: pointer;
  float: left;
  width: 20%;
  height: 100px;
  border: 3px solid #EDEDED;
  background: #B1B2B1;
  border-radius: 10px;
  margin-left: 4%;
  margin-bottom: 10%;
}

.ga-modal-content-page.active {
  border-color: #FFB600;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  transform: scale(1.15);
}

.ga-modal-content-page-index {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;

  width: 30px;
  height: 30px;
  line-height: 30px;

  font-size: 20px;
  color: #FFF;
  text-align: center;

  border-radius: 50%;
  background: #268988;

}

.ga-modal-hide {
  position: relative;
  width: 100%;
  height: 50px;
  background: #474747;
  color: #FFF;
  font-size: 20px;
  line-height: 50px;
  padding-left: 20px;
}

/*视频播放区域*/
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 170px;
  z-index: 1;
  border-radius: 3px;
  background: #000;
}

.video-container .vc-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vc-video video {
  position: relative;
  top: -9999px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
}

.video-container .vc-play {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -37.5px;
  margin-top: -37.5px;
  z-index: 3;
}

.video-container > .vc-btn-close {
  position: absolute;
  top: 0;
  right: -30px;
  height: 30px;
  line-height: 25px;
  font-size: 50px;
  color: red;
  z-index: 2;
  background: transparent;
  cursor: pointer;
}

.video-container .vc-btn-fullpanel {
  position: absolute;
  right: -27px;
  color: red;
  top: 40px;
  font-size: 26px;
  cursor: pointer;
}

/*全屏 START*/
.vc-fullpanel {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.vc-fullpanel .vc-video {
  padding-right: 40px;
}

.vc-fullpanel .vc-btn-close {
  right: 0 !important;
}

.vc-fullpanel .vc-btn-fullpanel {
  right: 3px !important;
}

/*全屏 END*/

/*定义一个动画效果*/
@-webkit-keyframes rainbow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes rainbow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.custom-point-play {
  -webkit-animation: 2s rainbow infinite ease-out;
  animation: 2s rainbow infinite ease-out;
}
