/*类型徐恩泽弹窗*/

#__pointTypes__ {
    position: absolute;
    z-index: 999999;
}

.point-types-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.point-type__categorys {
    position: relative;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    height: auto;
    background: #f2f2f2;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px #000;
}

.point-types__category--hide {
    display: none;
}

.point-types__category-title {
    background: #7f7f7f;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.point-types__category-content {
    overflow: hidden;
    padding: 20px;
}

.point-types__tip {
    position: absolute;
    bottom: 0;
    height: 60px;
    left: 0;
    right: 0;
    background: rgba(89, 89, 89, 0.85);
    color: #FFF;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.point-types__item {
    float: left;
    width: 55px;
    height: 55px;
    margin-right: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 12px;
}

.point-types__icon {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.point-types__item:nth-child(4n) {
    margin-right: 0;
}


/*视频*/

.point-types__item--video {
    /*background-image: url('../../../../imgs/upload_video.png');*/
    background-image: url('../../../../imgs/diandu_point_icon/icondian_video.png');
}

.point-types__item--video:hover {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_video_hover.png');
}

.pt-selected .point-types__item--video, .point-types__item--video-selected {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_video_on.png');
}


/*音频*/

.point-types__item--audio {
    /*background-image: url('../../../../imgs/upload_audio.png');*/
    background-image: url('../../../../imgs/diandu_point_icon/icondian_audio.png');
}

.point-types__item--audio:hover {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_audio_hover.png');
}

.pt-selected .point-types__item--audio, .point-types__item--audio-selected {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_audio_on.png');
}


/*图文*/

.point-types__item--imgtext {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_intro.png');
}

.point-types__item--imgtext:hover {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_intro_hover.png');
}

.pt-selected .point-types__item--imgtext, .point-types__item--imgtext-selected {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_intro_on.png');
}


/*考试*/

.point-types__item--exam {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_exam.png');
}

.point-types__item--exam:hover {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_exam_hover.png');
}

.pt-selected .point-types__item--exam, .point-types__item--exam-selected {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_exam_on.png');
}


/*开关图*/

.point-types__item--on-off {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_kaiguan.png');
}

.point-types__item--on-off:hover {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_kaiguan_hover.png');
}

.pt-selected .point-types__item--on-off, .point-types__item--on-off-selected {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_kaiguan_on.png');
}


/*超链接*/

.point-types__item--set-url {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_link.png');
}

.point-types__item--set-url:hover {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_link_hover.png');
}

.pt-selected .point-types__item--set-url, .point-types__item--set-url-selected {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_link_on.png');
}


/*摇摆图*/

.point-types__item--sway {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_sway.png');
}

.point-types__item--sway:hover {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_sway_hover.png');
}

.pt-selected .point-types__item--sway, .point-types__item--sway-selected {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_sway_on.png');
}


/*3D观察器*/

.point-types__item--viewer3d {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_3d.png');
}

.point-types__item--viewer3d:hover {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_3d_hover.png');
}

.pt-selected .point-types__item--viewer3d, .point-types__item--viewer3d-selected {
    background-image: url('../../../../imgs/diandu_point_icon/icondian_3d_on.png');
}
